<div class="align-content-center jumbotron" align="center">
  <div style="display: inline-block" class="col-md-6" *ngFor="let poke of pokemons">
    <div>
      <h5 *ngIf="poke.getLife()>0">Name : {{poke.getName()}}</h5>
      <h5 *ngIf="poke.getLife()<=0">Name : {{poke.getName()}} est mort</h5>
      <h5>Power : {{poke.getPower()}}</h5>
      <h5>Life : {{poke.getLife()}}</h5>
      <h5>Speed : {{poke.getSpeed()}}</h5>
      <img *ngIf="poke.getLife() > 0" height="200" src={{poke.getUrlImg()}}>
      <img *ngIf="poke.getLife() <= 0" class="displaynone" height="200" src={{poke.getUrlImg()}}>
    </div>
  </div>
  <div class="container">
    <button class="btn-danger" (click)="fight()" [disabled]="isWinner">Fight</button>
    <button class="btn-warning" (click)="pause()">Pause</button>
  </div>

  <div align="center">{{today | date}}</div>

  <div class="container col-md-6">
    <div *ngFor="let msg of messages" [ngStyle]="{color: msg.color}" class="alert alert-dark" role="alert">
      {{msg.getMessage()}}
    </div>
  </div>
</div>
